<app-nav></app-nav>
<hr>
<button (click)="this.createUser()">Create user</button>
<button (click)="this.login()">Login</button>
<button (click)="this.downloadFile()">Download Text</button>
<button (click)="this.downloadFile('pdf')">Download PDF</button>
<input type="file" name="" id="" (change)="this.uploadFile($event)">
<img [src]="this.imgUploaded" alt="">
<hr>
<app-products></app-products>


<!-- <div>
  <input type="text" [(ngModel)]="imgUrl" />
</div>
<button (click)="toggleImage()">show</button>
<app-img
  *ngIf="this.toggle"
  [url]="imgUrl"
  (onLoadedTest)="onloaded($event)"
></app-img> -->


